{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center mt-5">
            <h2 class="logo-font">Your shopping bag</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if bag_items %}
            <table class="table table-sm table-borderless">
                <thead class="text-black">
                    <tr>
                        <th scope="col">
                        </th>
                        <th scope="col">
                            <h4>Product</h4>
                        </th>
                        <th scope="col">
                            <h4>Size</h4>
                        </th>
                        <th scope="col">
                            <h4>Price</h4>
                        </th>
                        <th scope="col">
                            <h4>Quantity</h4>
                        </th>
                        <th scope="col">
                            <h4>Subtotal</h4>
                        </th>
                    </tr>
                </thead>

                {% for item in bag_items %}
                <tr>
                    <td class="py-3">
                        <a href="{% url 'product_detail' item.product.pk %}">
                            {% if item.product.image %}
                                <img class="bag-img img-fluid" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                            {% else %}
                                <img class="bag-img img-fluid no-image">
                            {% endif %}
                        </a>
                    </td>
                    <td class="py-3">
                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                    </td>
                    <td class="py-3">
                        {% if item.product.size %}
                        <p class="my-0">{{ item.product.size }}</p>
                        {% else %}
                        <p class="my-0">N/A</p>
                        {% endif %}
                    </td>
                    <td class="py-3">
                        <p class="my-0">£{{ item.product.price }}</p>
                    </td>
                    <td class="py-3 w-25">
                        <form class="form update-form" method="POST" action="{% url 'update_bag' item.item_id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group input-group-{{ item.item_id }}">
                                    <div class="input-group-prepend">
                                        <button
                                            class="decrement-qty btn btn-sm quantity-btn rounded-0 decrement-qty_{{ item.item_id }} 
                                            {% if item.size %}decrement-size_{{ item.item_id }}_{{ item.size }}{% endif %}"
                                            data-item_id="{{ item.item_id }}" data-size="{{ item.size }}">
                                            <span>
                                                <i class="fas fa-minus fa-sm"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control form-control-sm qty_input id_qty_{{ item.item_id }} 
                                        {% if item.size %}size_{{ item.item_id }}_{{ item.size }}{% endif %}"
                                        type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                        data-item_id="{{ item.item_id }}" data-size="{{ item.size }}">
                                    <div class="input-group-append">
                                        <button
                                            class="increment-qty btn btn-sm quantity-btn rounded-0 increment-qty_{{ item.item_id }} 
                                            {% if item.size %}increment-size_{{ item.item_id }}_{{ item.size }}{% endif %}"
                                            data-item_id="{{ item.item_id }}" data-size="{{ item.size }}">
                                            <span>
                                                <i class="fas fa-plus fa-sm"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <a class="update-link"><small><strong>Update</strong></small></a>
                        <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"
                            aria-label="Remove from shopping bag"><small><i class="fas fa-trash-alt"></i></small></a>
                    </td>
                    <td class="py-3">
                        <p class="my-0">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="5" class="pt-2 text-right">
                        <hr>
                        <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                        {% if free_shipping_delta <= 0 %}
                        <p><i>You have qualified for free delivery!</i></p>
                        {% else %}
                        <h6>Delivery: £{{ shipping|floatformat:2 }}</h6>
                        {% endif %}
                        <hr>
                        <h4 class="mt-3"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                        {% if free_shipping_delta > 0 %}
                        <p class="mb-3 text-danger">
                            Spend <strong>£{{ free_shipping_delta }}</strong> more to get free delivery!
                        </p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="text-right" id="sc-btn">
                        <a href="{% url 'checkout' %}" class="atb-btn my-2">
                            <span>Secure Checkout</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </a>
                        <hr>
                    </td>
                </tr>
            </table>
            {% else %}
            <h4 class="ml-3">Your bag is empty!</h4>
            <p class="mt-3 ml-3 mb-5">Please click the button below to browse our sumptious selection of skincare...</p>
            <a href="{% url 'products' %}" class="btn ks-button ml-3">
                <i class="fas fa-chevron-left"></i>
                <p>Keep shopping</p>
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% if bag_items %}
<div class="shadow-sm pd-ks-button">
    <a href="{% url 'products' %}" class="btn d-flex h-100" aria-label="Keep shopping">
        <i class="fas fa-chevron-left mx-auto my-auto"></i>
        <small class="mx-auto my-auto">Keep shopping</small>
    </a>
</div>
{% endif %}

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item from bag
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}