{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col text-center my-5">
        <h2 class="logo-font">Skincare Secrets</h2>
        <hr class="w-50 mb-1">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="d-md-none d-lg-block col-12 col-lg-4">
            <div class="mb-5 mt-3">
                <div class="sunscreen-sign my-auto"></div>
            </div>
        </div>
        <div class="col-12 col-lg-8 order-lg-second mb-5">
            <h4 class="my-3">Basic Skincare Routine Steps</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p><b>1. Cleanse -</b>Washing your face is the most basic and an essential step of any routine! The
                        right formula cleanses your skin without stripping your skins natural oils. Don't forget to
                        double cleanse at night to ensure your skin can reset.</p>
                </li>
                <li class="list-group-item">
                    <p><b>2. Treatment -</b> Use a treatment step to target your skin concern. Whether it be niacinimide
                        to
                        support your skin barrier, alpha arbutin to help prevent hyperpigmentation or vitamin-c to help
                        brighten skin, this is the time to make a difference!
                </li>
                <li class="list-group-item">
                    <p><b>3. Moisturiser -</b> Moisturizer hydrates skin and locks in all the other products.
                        Look for a lightweight moisturiser in the morning and a thicker cream in the
                        evening.</p>
                </li>
                <li class="list-group-item">
                    <p><b>4. Sunscreen -</b> The single most important step in any routine! Wearing sunscreen alone has
                        been proven to improve skin condition and health. It protects against sun damage- the greatest
                        culprit in aging.</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container border-green mb-5 p-4">
    <h4 class="my-3">Skinfluencers we love...</h4>
    <div class="card-deck p-3">
        <div class="card mx-auto">
            <iframe class="skinfluencers" src="https://www.youtube.com/embed/PnnJGAb7TWQ"
                title="The Best Products I’ve Ever Used As An Esthetician" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen alt="Cassandra Bankson's Youtube"></iframe>
            <div class="card-body">
                <h5 class="card-title">Cassandra Bankson</h5>
                <p class="card-text">An American model turned medical esthetician & skincare expert, Cassandra is
                    very open with her ongoing struggles with acne. She uses her 10+ years in the medical industry
                    to educate her community about the do's and don't of skincare.</p>
            </div>
        </div>
        <div class="card mx-auto">
            <iframe class="skinfluencers" src="https://www.youtube.com/embed/UqsPhTpDHZk"
                title="A Skin Care Routine Under $50!" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen alt="Hyram's Youtube channel"></iframe>
            <div class="card-body">
                <h5 class="card-title">Hyram Yarbro</h5>
                <p class="card-text">Hyram launched to fame for his videos on YouTube and TikTok which
                    consist primarily of product reviews, skincare advice, and reactions to celebrity
                    skincare routines. In 2021 he launched his own skin care product line, Selfless by Hyram. He is
                    knowledgable in skincare and entertaining to watch!</p>
            </div>
        </div>
        <div class="card mx-auto">
            <iframe class="skinfluencers" src="https://www.youtube.com/embed/d9fsPMrLYNs"
                title="How to layer skin care products| Dr Dray" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen class="Dr Dray's Youtube channel"></iframe>
            <div class="card-body">
                <h5 class="card-title">Dr Dray</h5>
                <p class="card-text">Dr Dray is a licensed dermatologist and skin care enthusiast with a passion for
                    skin care. Her videos are very educational and thorough, highlighting ingredients that may be
                    best for your skin type.</p>
            </div>
        </div>
    </div>
</div>

<div class="container mb-5 py-2">
    <h4>Want to know more about skincare products and routines?</h4>
    <p class="mb-3">Check out some of these websites to educate yourself in all things skincare!</p>
    <article>
        <ul class="py-2">
            <li>Entering the world of skincare can be very confusing with so many ingredients and their benefits to
                consider. To help you know what to look for in a product, have a look at this <a
                    href="https://health.clevelandclinic.org/skin-care-ingredients-explained/" target="_blank"
                    aria-labelledby="Link to Cleeveland Clinic lit of popular skincare ingredients">list of popular skincare
                    ingredients</a>.
            </li>
            <li>You've found your skincare products. What next? Well, Cosmo has made this handy guide in <a
                    href="https://www.cosmopolitan.com/style-beauty/beauty/a25372431/what-order-to-apply-skincare-products/"
                    target="_blank" aria-labelledby="Link to Cosmopolitan magazine skincare layering guide">how to layer
                    your skincare</a>.
            </li>
            <li>Another thing to bear in mind is that some ingredients can react badly when used together! To be safe, read
                <a href="https://www.allure.com/story/skin-care-ingredients-should-not-mix" target="_blank"
                    aria-labelledby="Link to Allure's guide to skincare combinations to avoid">Allure's guide to 9 skincare
                    combinations to avoid</a>.
            </li>
            <li>If you still find yourself struggling with what skincare routine may be right for you, The Ordinary has a <a
                    href="https://theordinary.com/en-gb/regimen-builder.html?gclid=CjwKCAiAuaKfBhBtEiwAht6H75qucLChRF1QGVBlfqBo4IXRnCr1_CDIc_01gXVmjgxkJ5egyqieIRoCvdoQAvD_BwE&gclsrc=aw.ds"
                    target="_blank" aria-labelledby="Link to The Ordinary Skincare Regimine Builder">Skincare Regimen
                    Builder</a> to help you create a routine that's right for your skin.
            </li>
        </ul>
    </article>
</div>

<div class="shadow-sm pd-ks-button">
    <a href="{% url 'products' %}" class="btn d-flex h-100" aria-label="Keep shopping">
        <i class="fas fa-chevron-left mx-auto my-auto"></i>
        <small class="mx-auto my-auto">Keep Shopping</small>
    </a>
</div>
{% endblock %}