{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<body>

    <main>
        <div class="container py-5">

            <div class="p-5 mb-4 bg-light rounded-0" id="home-hero">
                <div class="container-fluid py-5 my-5">
                    <h1 class="display-5 logo-font">Bringing beauty to you.</h1>
                    <h2 class="col-md-8 fs-4">Shop the latest <bold>skincare products</bold> for skin that show your inner glow.</h2>
                    <p class="col-md-8 fs-4">We carefully selected our skincare range from top beauty brands to make sure there
                        is the perfect product for every skin type.</p>
                    <a class="btn shop-now-btn btn-lg mt-2" type="button" href="{% url 'products' %}">Shop skincare
                        now</a>
                </div>
            </div>

            <div class="row align-items-md-stretch mb-5">
                <div class="col-md-6">
                    <div class="h-100 p-5 my-2 bg-light rounded-0" id="to-feature">
                        <div class="frosted py-2">
                            <h2>The Ordinary</h2>
                            <p class="py-4">A collection of skincare products offering effective, clinical
                                technologies at low prices.</p>
                            <a class="btn shop-now-btn" type="button" href="{% url 'brand_page' 1 %}">Shop The
                                Ordinary</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="h-100 p-5 my-2 bg-light rounded-0" id="glossier-feature">
                        <div class="frosted my-2 py-2">
                            <h2>Glossier</h2>
                            <p class="py-4">Shop accessible luxury products to make you look
                                and feel good.</p>
                            <a class="btn shop-now-btn" type="button" href="{% url 'brand_page' 2 %}">Shop Glossier</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5 p-5 bg-light rounded-0 news-img">
                <div class="frosted my-2 py-2">
                    <h2>Subscribe to Beauty Broker for the latest skincare products!</h2>
                    <a class="btn shop-now-btn btn-lg mt-2" type="button" href="{% url 'newsletter' %}">Subscribe</a>
                </div>
            </div>

            <div class="my-5 p-5 bg-light rounded-0 advice-img d-flex align-items-end flex-column">
                <div class="frosted my-2 text-right">
                    <h2>Want the lowdown on skincare?</h2>
                    <a class="btn shop-now-btn btn-lg mt-2" type="button" href="{% url 'advice' %}">Skincare Secrets</a>
                </div>
            </div>

        </div>
    </main>

    {% endblock %}