{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center mt-5">
            <h2 class="logo-font">Secure Checkout</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <p>Please fill out the form below to complete your purchase</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf token %}
                <fieldset class="px-3 mb-5">
                    <legend class="fieldset-label small px-2 w-auto">Personal Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}