html {
    height: 100%;
}

body {
    background-size: cover;
    height: calc(100vh - 164px)!important;
    font-family: 'Source Serif Pro', serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Oswald', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    color: #192524;
    text-transform: uppercase;
    font-family: 'Permanent Marker', cursive;
}

.main-logo-link {
    width: fit-content;
}

.frosted {
    width: 50%;
    background: rgba(255, 255, 255, 0.7);
    padding: 4%;
}

.pink-border-bottom {
    border-bottom: 2px solid #dccdc6;
}

.text-pink h4 {
    color: #dccdc6 !important;
}

.shop-now-btn {
    background-color: #192524;
    color: #dccdc6;
}

a:hover {
    text-decoration: none;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.card-img-top {
    height:15rem;
    object-fit: cover;
}

.product-results a {
    text-decoration: none;
    color: #192524;
}

.btt-button {
    font-family: 'Oswald', sans-serif;
    height: 50px;
    width: 80px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #192524;
    background-color: #dccdc6;
    border: 2px solid #192524;
    padding: 5px;
}

.pd-ks-button {
    font-family: 'Oswald', sans-serif;
    height: 60px;
    width: 90px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    color: #192524;
    background-color: #dccdc6;
    border: 2px solid #192524;
    padding: 5px;
}

.ks-button {
    font-family: 'Oswald', sans-serif;
    color: #192524;
    background-color: #dccdc6;
    border: 2px solid #192524;
    padding: 5px;
}

.btt-link, .update-link, .remove-item {
    cursor: pointer;
}

.card {
    border: none;
}

.card-header {
    background: white;
    border-color: white;
}

.atb-btn {
    padding: 12px;
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;
    color: #dccdc6;
    background-color: #192524;
    border: 2px solid #dccdc6;
    padding: 5px;
}

.quantity-btn {
    background-color: #dccdc6;
    color: #192524;
}

.toast {
    position: relative;
    min-height: 200px;
    position: absolute; top: 0; right: 0;
}

.toast-header {
    font-family: 'Oswald', sans-serif;
}

#home-hero {
    background: url('/media/to-squiggle1.jpeg') no-repeat bottom 20% center;
    background-size: cover;
}

#to-feature {
    background: url('/media/the-ordinary-assortment.jpeg') no-repeat bottom 20% center;
    background-size: cover;
}

#glossier-feature {
    background: url('/media/glossier-sunscreen.jpeg') no-repeat bottom 20% center;
    background-size: cover;
}

#delivery-banner {
    background-color: #192524;
    border: 2px solid #dccdc6;
}

#sort-selector {
    color: #192524;
    border: 2px solid #192524;
}

#pd-btn {
    font-size: 1.25rem;
}

#sc-btn :hover {
    color: #dccdc6!important;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
    min-width: 150px;
}

.toast-capper {
    height: 4px;
}

/* -------------------------------- Media Queries */

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

/* small screen sizes */
@media (max-width: 767px) {

    #glossier-feature {
        margin-top: 10% !important;
    }
}   

@media (max-width: 377px) {
    .header-container {
        padding-top: 150px;
    }

    body {
        height: calc(100vh - 150px);
    }
}