<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}" id="all-skincare-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Skincare
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-skincare-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Skincare</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="product-type-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop by product type
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="product-type-link">
                <a href="{% url 'products' %}?product_type=cleansers" class="dropdown-item">Cleansers</a>
                <a href="{% url 'products' %}?product_type=toners" class="dropdown-item">Toners</a>
                <a href="{% url 'products' %}?product_type=serums" class="dropdown-item">Serums</a>
                <a href="{% url 'products' %}?product_type=moisturisers" class="dropdown-item">Moisturisers</a>
                <a href="{% url 'products' %}?product_type=masks" class="dropdown-item">Masks</a>
                <a href="{% url 'products' %}?product_type=sunscreens" class="dropdown-item">Sunscreens</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="skin-type-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop by skin type
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="skin-type-link">
                <a href="{% url 'products' %}?skin_type=dry_skin" class="dropdown-item">Dry skin</a>
                <a href="{% url 'products' %}?skin_type=oily_skin" class="dropdown-item">Oily skin</a>
                <a href="{% url 'products' %}?skin_type=combination_skin" class="dropdown-item">Combination skin</a>
                <a href="{% url 'products' %}?skin_type=blemish_prone_skin" class="dropdown-item">Blemish prone skin</a>
                <a href="{% url 'products' %}?skin_type=mature_skin" class="dropdown-item">Mature skin</a>
            </div>
        </li>
    </ul>
</div>