{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
    <h2 class="logo-font my-5 text-center">{% trans "Password Reset" %}</h2>
    <hr>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <div class="shadow-sm pd-ks-button">
        <a href="{% url 'account_login' %}" class="btn d-flex h-100" aria-label="Keep shopping">
            <i class="fas fa-chevron-left mx-auto my-auto"></i>
            <small class="mx-auto my-auto">Back to Login</small>
        </a>
      </div>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
