.co-btn {
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;
    color: #dccdc6;
    background-color: #192524;
    border: 2px solid #dccdc6;
    padding: 5px;
}

.co-btn h5 {
    padding: 5px;
}

.co-btn:hover, .co-btn h5:hover {
    color: white;
}

.co-img {
    height: 4rem;
    object-fit: cover;
}