{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mx-auto">
                <h2 class="logo-font mt-5 text-center">Product Management</h2>
                <hr>
                <h5 class="text-center mb-5">Confirm Product Deletion</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 mx-auto">
                <p class="mt-5 text-center">Are you sure that you want to delete {{ product.name }}?</p>
                <form method="POST" class="mb-2">
                    {% csrf_token %}
                    <div class="text-center mb-5">
                        <button class="btn btn-danger rounded-0" type="submit">Delete Product</button>
                        <button class="btn atb-btn" href="{% url 'products' %}">Cancel</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>

    <div class="shadow-sm pd-ks-button">
        <a href="{% url 'products' %}" class="btn d-flex h-100" aria-label="Cancel">
            <i class="fas fa-chevron-left mx-auto my-auto"></i>
            <small class="mx-auto my-auto">Cancel</small>
        </a>
    </div>
{% endblock %}