{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 px-4">
            <div class="product-details-container mb-5 mt-md-5">
                <h2 class="mb-3 font-weight-bold">{{ product.name }}</h2>
                <div class="row">
                    <div class="col">
                        <p class="mb-0 text-left">£{{ product.price }}</p>
                    </div>
                    <div class="col">
                        {% if product.size %}
                        <p>{{ product.size }}</p>
                        {% endif %}
                    </div>
                </div>
                {% if product.rating %}
                <p><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</p>
                {% else %}
                <p class="text-muted">No Rating</p>
                {% endif %}
                {% if product.product_type %}
                <p class="small mt-1 mb-0 mt-3">
                    <a class="text-muted" href="{% url 'products' %}?product_type={{ product.product_type.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ product.product_type.friendly_name }}
                    </a>
                </p>
                {% endif %}
                {% if product.skin_type %}
                <p class="small mt-1 mb-0">
                    <a class="text-muted" href="{% url 'products' %}?skin_type={{ product.skin_type.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ product.skin_type.friendly_name }}
                    </a>
                </p>
                {% endif %}
                <form class="form" action="{% url 'add_to_bag' product.pk %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-6">
                            <h5 class="mt-5">Quantity:</h5>
                        </div>
                        <div class="col-6">
                            <div class="form-group w-50">
                                <div class="input-group mt-5">
                                    <input class="form-control qty_input" type="number" name="quantity" value="1"
                                        min="1" max="99" data-item_id="{{ product.pk }}" id="id_qty_{{ product.pk }}">
                                </div>
                            </div>
                        </div>
                        <input type="submit" id="atb-btn" class="mt-3 mb-3 ks-button" value="Add to Bag">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
                <hr>
                <div class="accordion" id="accordionExample">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h4 class="mb-0">
                          <button class="btn text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="pd-btn">
                            Product Description <span class="ml-2"><i class="fas fa-chevron-down"></i></span>
                          </button>
                        </h4>
                      </div>
                  
                      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            {{ product.description }}
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

<div class="shadow-sm pd-ks-button">
    <a href="{% url 'products' %}" class="btn d-flex h-100" aria-label="Keep shopping">
        <i class="fas fa-chevron-left mx-auto my-auto"></i>
        <small class="mx-auto my-auto">Keep shopping</small>
    </a>
</div>
{% endblock %}